


body {
	background-color: #FFFAF0;
	color: #FF7F3B;
	font-family: 'Helvetica';
}	
    
	
img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto; 
}	
 
h1 {
   	color: #653040;
   	text-align: center;
h2 {
	text-align: center;
}
}
 
ul {
      list-style-type: none;
}
